﻿@{
    ViewBag.Title = "Home Page";
}

<hgroup class="title" style="text-align:center;color:red">

    <h2>@ViewBag.Message</h2>
</hgroup>

<meta name="viewport" content="width=device-width" />
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
<table style="max-width:500px;margin:auto">
    <tr>
        <td colspan="2" align="center"><h2>Login</h2></td>
    </tr>
    <tr>

        <td>
            Username
        </td>
        <td>
            <input id="username" type="text" name="username"/>
        </td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input id="password" type="password" /></td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2">
            <input id="loginBtn" type="submit" value="Login" />
        </td>

    </tr>

</table>
}
<footer>
    <p>Developed by: Akanksha Singh</p>
    <p>
        Contact information: <a href="mailto:someone@example.com">
            akanksha.singh@gmail.com
        </a>.
    </p>
</footer>