﻿@model ClinicApp_MVC.UserProfile

@{
    ViewBag.Title = "Login";
}
<hgroup class="title" style="text-align:center;color:red">

    <h1>@ViewBag.Message</h1>
</hgroup>


@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <fieldset>
      

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
     
        <table  style="max-width:500px;margin:auto">
            <tr>
                <td>@Html.LabelFor(a => a.UserName)</td>
                <td>@Html.TextBoxFor(a => a.UserName)</td>
                <td>@Html.ValidationMessageFor(a => a.UserName)</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.Password)
                </td>
                <td>
                    @Html.PasswordFor(a => a.Password)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.Password)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}  