﻿@{
    ViewBag.Title = "UserDashBoard";
}

<fieldset>
    <legend> User DashBoard </legend>

@if (Session["UserName"] != null)
{
    <text>
    Welcome @Session["UserName"].ToString() </text>
  
}
 </fieldset>  